.add {
	width:100px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	cursor: pointer;
}
.remove {
	width:100px;
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	cursor: pointer;
}
@media (min-width: 992px){
  .container {
    width: inherit !important;
}
}

@media (min-width: 768px){
  .container {
    width: inherit !important;
}
}

.container {
    padding:0;
	margin : 0;
}
button{
	width:100px;
}

html, body {
	position: relative;
	height: 100%;
	min-width: 800px;
	min-height: 500px;
	background-color: #444;
	margin: 0;
	padding:0;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 12pt;
}

#content {
	position: absolute;
	top: 40px;
	bottom: 2ex;
	background-color: #fff;
	margin-left: 450px;
	width: 100%;
}
#res-panel {
	float: right;
	background-color: #444;
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
#nav {
	float: left;
	height: 100%;
	width: 450px;
	margin-left: -450px;
	background-color: #fff;
	border: none;
	color: #444;
	overflow-y: auto;
}
#cleared {
	clear: both;
}
#results {
	position: relative;
	table-layout: fixed;
	clear: both;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
#res-head {
	position: relative;
	margin: 10px 0 0 0;
	padding: 5px 5px 0 5px;
	height: 25px;
	background-color: #444;
	color: #fff;
}

#statusmesg {
	font-size: 8pt;
	display: table-cell;
	vertical-align: middle;
	padding-right: 1em;
	text-align: right;
	color: #fff;
}

#key {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 100%;
	color: #000;
	font-size: 9pt;
	font-weight: bold;
	border-collapse: collapse;
	text-align: center;
}
#key td {
	border: 6px solid #444;
	width: 16.67%;
}
#export-button {
	position: absolute;
	right: 5px;
	height: 30px;
	top: 0px;
	color: #fff;
}
button {
	color: #fff;
	background-color: #444;
	border: none;
	outline: none;
  cursor: pointer;
}
button i.fa:hover {
	color: dodgerblue;
}
.searchasyoudraw button.search {
  display: none;
}
button.search {
  border-radius: 5px;
  font-size: 12pt;
  background: dodgerblue;
}
button.search:hover {
  background: #2Ea0FF;
}
button.search i.fa:hover {
  color: inherit;
}
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
/* Input Styling */

#sketcher {
	display: block;
	width: 420px;
	height: 470px;
	margin: 10px;
}
.swrange input[type='number'] {
	-moz-appearance: textfield;
}
.swrange input::-webkit-outer-spin-button, .swrange input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#swscore {
	font-size: 9pt;
}
#swscore th {
	text-align: right;
	padding-left: 10px;
}
.dual_range {
	display: inline-block;
	margin: 0 2px 0 2px;
	width: 55px;
	vertical-align: middle;
}
#distslider, #topodistslider {
	width: 240px;
}
.ui-slider .ui-slider-handle {
	width: 7px;
}
.ui-widget-header {
	background-color: #55CCC7;
}
table.swrange, table.swopt {
	font-size: 8pt;
	border-collapse: collapse;
	margin-right: 15px;
}
table.swrange td.spacer, table.swopt td.spacer {
	width: 5px;
}
table.swrange th, table.swopt th {
	font-size: 9pt;
	font-weight: bold;
	width: 96px;
	text-align: right;
	padding: 2px 5px 2px 5px;
	color: #444;
}
table.swrange td, table.swopt td {
	padding: 0px;
}
swrange>input, select {
	border-radius: 3px;
	border: solid 1px;
	padding: 0px;
	margin: 0px;
}
#timeout {
	width: 30px;
	text-align: center;
	border-radius: 3px;
	border: solid 1px;
	padding: 0px;
	margin: 0px;
}
.edit_input {
	width: 20px;
	text-align: center;
}
/* Table Display */

#results_wrapper, #results_info {
	font-size: 9pt;
	color: #fff;
	background-color: #444;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
#results td, #results th {
	color: #222;
}
table.compound_cell {
	border-collapse: collapse;
}
table.compound_cell tbody tr {
	background-color: transparent;
}
table.compound_cell tbody td, table.compound_cell tbody td div {
	background-color: transparent;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 300px;
}
table.compound_cell tbody td b, table.compound_cell tbody td b a, table.compound_cell tbody td b a:hover, table.compound_cell tbody td b a:visited {
	color: #444;
	font-weight: bolder;
	text-decoration: none;
}
table.dataTable td:first-child {
	/* line-height: 0; */
}
table.dataTable tr.odd {
	background-color: #E0FFFC;
}
table.dataTable tr.even {
	background-color: white;
}
.dataTables_scrollBody {
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
table.dataTable thead th, table.dataTable tbody td {
	padding: 5px 2px 5px 12px;
	text-align: left;
}
table.dataTable tbody td.compound, table.dataTable tbody td.compound table tbody td {
	padding: 0px;
	text-align: left;
	line-height: 0;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	background-repeat: no-repeat;
	background-position: -4px 50%;
}
.editop {
	max-width: 30px;
	width: 30px;
}
.compound {
	max-width: 250px;
	width: 250px;
}
/* Popup */

.popbox {
	display: none;
	position: absolute;
	z-index: 99999;
	padding: 10px 0 10px 0;
	background: #ffffff;
	color: #000000;
	border: 1px solid #4D4F53;
	margin: 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
	box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
/* load.html Page */
#sw-mapfiles {
	float: right;
  background-color: #444;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  border-left: 1px solid #444;
}
.sw-mapfile-box {
	background: #fff;
	color: #444;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	width:  25%;
	height: 120px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	cursor: move;
}
@media (max-width: 1600px) {
  .sw-mapfile-box {
    width:  33.33333332%;
  }
}
@media (max-width: 1300px) {
  .sw-mapfile-box {
    width:  50%;
  }
}
@media (max-width: 900px) {
  .sw-mapfile-box {
    width:  100%;
  }
}
.sw-mapfile-box>div {
	overflow: hidden;
}
.sw-mapfile-box input {
	border: none;
	background: inherit;
	padding: 0;
	font-size: 1em;
	color: inherit;
	width: 100%;
}
.sw-mapfile-box>div {
	margin: 4px;
}
.sw-mapfile-top {
	border-collapse: collapse;
	font-size: 1.1em;
	width: 100%;
}
.sw-mapfile-bottom {
	border-collapse: collapse;
	font-size: 0.7em;
	width: 100%;
}
.sw-mapfile-bottom tr td:nth-child(1) {
	width: 50px;
	font-weight: bold;
}
.sw-mapfile-bottom td {
	white-space: nowrap;
}
.sw-mapfile-cfg-toggle {
	float: right;
}
i.fa.disabled {
	display: none;
}
div.disabled {
	color: #fff;
	background-color: #444;
}
#add-new {
	background-color: #88ee88;
}
#progress-bar-tooltip {
	display: none;
	position: absolute;
	z-index: 99999;
	padding: 4px;
	background: #333;
	color: #fff;
	margin: 0px;
	font-size: 10pt;
	border-radius: 5px;
}
#progress-bar-tooltip:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 8px solid #333;
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 18px;
	pointer-events: none;
	top: 100%;
}