{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <style>

        .div-tranche {
        {#max-width: 80em;#} max-height: 35em;
            overflow: scroll;
            position: relative;
            border-right: 1px solid #ccc;
        }

        table {
            position: relative;
            border-collapse: collapse;
        }

        table div {
            width: 60px;
        }

        .div-last {
            width: 80px;
        }

        th {
            padding: 0.5em;
        }

        td {
            border: 1px solid #ccc;
            padding: 0.5em;
        }

        thead th:first-child {
            left: 0;
            z-index: 2;
            border: none;
        }

        thead th:last-child {
            right: 0;
            z-index: 2;
        }

        thead th {
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            top: 0;
            background: white;
            color: black;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            margin-top: 0;
            z-index: 1;
        }

        tbody th {
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            left: 0;
            background: white;
            color: black;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            z-index: 1;

        }

        tbody td:last-child {
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            right: 0;
            background-color: white;
            color: black;
            text-align: center;
            border-right: none;

        }

        tfoot th {
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            bottom: 0;
            background: white;
            color: black;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;

        }

        tfoot th:first-child {
            left: 0;
            z-index: 2;
            border: none;
        }

        tfoot th:last-child {
            right: 0;
            z-index: 2;
        }

        .cell-th:hover {
            background-color: grey;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: grey;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #ccc;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

    </style>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        let numberToggle = false;
        let predefined = {
            'all': [[0, 61], [0, 62]],
            'none': [[0, 0], [0, 0]],
            'fragments': [[0, 32], [9, 17]],
            'flagments': [[0, 42], [15, 21]],
            'goldilocks': [[16, 27], [18, 22]],
            'lead-like': [[0, 42], [17, 25]],
            'lugs': [[0, 42], [23, 31]],
            'drug-like': [[0, 57], [9, 31]],
            'big-n-greasy': [[0, 3], [25, 31]]
        };
        $(document).ready(function () {
            let data = {{ cell2DNew | safe }};
            let cols = new Array(62).fill(true);
            let rows = new Array(61).fill(true);
            localStorage.setItem('twoD', JSON.stringify(data));
            localStorage.setItem('cols', JSON.stringify(cols));
            localStorage.setItem('rows', JSON.stringify(rows));
            renderTrancheTable();
        });

        function renderTrancheTable() {
            arr = JSON.parse(localStorage.getItem('twoD'))
            let rowSize = new Array(61).fill(0);
            let colSize = new Array(62).fill(0);
            let totalSize = 0
            let log_total = Math.log({{ unfilteredSize }})
            let trancheCount = 0
            for (let i = 0; i < 61; i++) {
                for (let j = 0; j < 62; j++) {
                    tranche = arr[i][j]
                    let cell = $('#' + i + '-' + j)
                    cell.html(numberToggle ? bigNumber(tranche.size) : tranche.size)
                    let td = $('#cell-' + i + '-' + j)
                    let color = (Math.floor(255 - 255 * (log_total - 1.1 * Math.log(tranche.size)) / log_total));
                    if (color < 0){
                        color = 0
                    }
                    td.css('background-color', '#' + color.toString(16).repeat(3));
                    cell.css('color', color > 105 ? '#333' : '#ccc');
                    if (tranche.chosen === true) {
                        let val = parseInt(tranche.size)
                        rowSize[i] += val
                        colSize[j] += val
                        totalSize += val
                        cell.css('opacity', 1)

                        trancheCount += 1
                    } else {
                        cell.css('opacity', 0.1)
                        td.css('background-color', 'white');
                    }
                }
            }

            rowSize.forEach((val, index) => $('#row-sum-' + index).html(numberToggle ? bigNumber(val) : val))
            colSize.forEach((val, index) => $('#col-sum-' + index).html(numberToggle ? bigNumber(val) : val))

            $('#tranche-total').html(numberToggle ? bigNumber(totalSize) : totalSize)
            $('#tranche-count').html(numberToggle ? bigNumber(trancheCount) : trancheCount)
        }

        function colToggle(obj) {
            let id = obj.getAttribute('data-id')
            let arr = JSON.parse(localStorage.getItem('twoD'))
            let cols = JSON.parse(localStorage.getItem('cols'))
            cols[id] = !cols[id]
            $(obj.target).css('opacity', 1 ? cols[id] : 0.1)
            for (let i = 0; i < 61; i++) {
                arr[i][id].chosen = cols[id]
            }
            localStorage.setItem('twoD', JSON.stringify(arr));
            localStorage.setItem('cols', JSON.stringify(cols));
            renderTrancheTable();
        }

        function rowToggle(obj) {
            let id = obj.getAttribute('data-id')
            let arr = JSON.parse(localStorage.getItem('twoD'))
            let rows = JSON.parse(localStorage.getItem('rows'))
            rows[id] = !rows[id]
            for (let i = 0; i < 62; i++) {
                arr[id][i].chosen = rows[id]
            }
            localStorage.setItem('twoD', JSON.stringify(arr));
            localStorage.setItem('rows', JSON.stringify(rows));
            renderTrancheTable();
        }

        function cellToggle(obj) {
            let row = obj.getAttribute('data-row')
            let col = obj.getAttribute('data-col')
            let arr = JSON.parse(localStorage.getItem('twoD'))
            arr[row][col].chosen = !arr[row][col].chosen
            localStorage.setItem('twoD', JSON.stringify(arr));
            renderTrancheTable();
        }

        function numberToggles(btn) {
            numberToggle = $(btn).prop('checked');
            renderTrancheTable();
        }

        function bigNumber(input) {
            if (input >= 10000000) {
                return '' + Math.round(input / 1000000) + 'M';
            } else if (input >= 1000000) {
                return '' + Math.round(input / 100000) / 10 + 'M';
            } else if (input >= 10000) {
                return '' + Math.round(input / 1000) + 'K';
            } else if (input >= 1000) {
                return '' + Math.round(input / 100) / 10 + 'K';
            } else {
                return input;
            }
        }

        function setPredefined(s) {
            let arr = JSON.parse(localStorage.getItem('twoD'))
            let p = predefined[s]
            for (let i = 0; i < 61; i++) {
                for (let j = 0; j < 62; j++) {
                    if (p[0][0] <= i && i < p[0][1] && p[1][0] <= j && j < p[1][1]) {
                        arr[i][j].chosen = true
                    } else {
                        arr[i][j].chosen = false
                    }
                }
            }
            localStorage.setItem('twoD', JSON.stringify(arr));
            renderTrancheTable();
        }
        function trancheDownloadModalClicked() {
            let arr = JSON.parse(localStorage.getItem('twoD'))
            let temp = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k',
             'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F',
             'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
            let col = ['H00', 'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15',
     'H16', 'H17',
          'H18','H19', 'H20', 'H21', 'H22', 'H23', 'H24', 'H25', 'H26', 'H27', 'H28', 'H29', 'H30', 'H31', 'H32', 'H33',
          'H34','H35',  'H36', 'H37', 'H38', 'H39', 'H40', 'H41', "H42", 'H43', 'H44', 'H45', 'H46', 'H47', 'H48', 'H49',
          'H50', 'H51', 'H52', 'H53', 'H54', 'H55', 'H56', 'H57', 'H58', 'H59', 'H60', 'H61']
            let row = ['M500','M400','M300', 'M200','M100','M000','P000', 'P010', 'P020', 'P030', 'P040', 'P050', 'P060', 'P070',
          'P080','P090', 'P100', 'P110', 'P120', 'P130','P140','P150','P160','P170','P180','P190','P200', 'P210', 'P220',
          'P230', 'P240', 'P250', 'P260', 'P270', 'P280', 'P290', 'P300', 'P310', 'P320', 'P330', 'P340', 'P350', 'P360',
          'P370','P380','P390','P400','P410','P420', 'P430','P440', 'P450','P460', 'P470','P480','P490','P500','P600',
          'P700', 'P800', 'P900']
            let st = ''
              for (let i = 0; i < 61; i++) {
                for (let j = 0; j < 62; j++) {
                    if (arr[i][j].chosen) {
                        st = st + col[j] + row[i] +' '
                    }
                }
            }
              $('#selected-tranches').html(st)

        }
    </script>
{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">Predefined Subsets
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="setPredefined('all')">All</a></li>
                    <li><a href="#" onclick="setPredefined('none')">None</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="setPredefined('fragments')">Fragments</a></li>
                    <li><a href="#" onclick="setPredefined('flagments')">Flagments</a></li>
                    <li><a href="#" onclick="setPredefined('goldilocks')">Goldilocks</a></li>
                    <li><a href="#" onclick="setPredefined('lead-like')">Lead-Like</a></li>
                    <li><a href="#" onclick="setPredefined('lugs')">Lugs</a></li>
                    <li><a href="#" onclick="setPredefined('drug-like')">Drug-Like</a></li>
                    <li><a href="#" onclick="setPredefined('big-n-greasy')">Big-n-Greasy</a></li>
                </ul>
            </div>
        </div>
    <div class="pull-right">
        <label class="switch">
                <input type="checkbox" id="numberToggle" onclick="numberToggles(this)">
                <span class="slider round"></span>
        </label>
    </div>
    <div class="pull-right">
        <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#trancheDownloadModal" onclick="trancheDownloadModalClicked()"><i class="fa fa-download"></i>Download</button>
    </div>

            <!-- Modal -->
<div class="modal fade" id="trancheDownloadModal" tabindex="-1" role="dialog" aria-labelledby="trancheDownloadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
                                            <textarea id="selected-tranches"
                                                      class="tranche-list form-control"
                                                      name="tranches"
                                                      rows="6"
                                                      cols="20"
                                                     ></textarea>
                                        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"
                 style="background-color: white; border: 1px solid #ccc; text-align: center; text-justify: auto; color: black;
                ">
                Heavy Atom Count
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-xs-1"
                 style="background-color: white; height:35em;  color:black; border-left: 1px solid #ccc; border-right:1px solid #ccc;width: 2em">
                <p style="transform: rotate(-90deg); top: 25em; position: sticky;">LogP</p>
            </div>
            <div style="background-color: grey; border-bottom: 1px solid #ccc">
                <div class="div-tranche">
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <div></div>
                            </th>
                            {% for cell in ticks[0][4:] %}
                                <th class="cell-th" data-id="{{ cell }}" onclick="colToggle(this)">
                                    <div>
                                        {{ axes[2][cell] }}<br>{{ axes[0][cell] }}
                                    </div>
                                </th>
                            {% endfor %}
                            <th>
                                <div class="div-last">Totals, by logp</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in ticks[1] %}
                            <tr>
                                <th class="cell-th" data-id="{{ row }}" onclick="rowToggle(this)">
                                    <div>{{ axes[2][row] }}<br>{{ axes[1][row] }}</div>
                                </th>
                                {% for col in ticks[0][4:] %}
                                    <td id="cell-{{ row }}-{{ col }}" data-row="{{ row }}" data-col="{{ col }}"
                                        onclick="cellToggle(this)">
                                        <div>
                                            <p id='{{ row }}-{{ col }}'></p>
{#                                               <a  style="color: darkgrey;" href=""#}
{#                                   title="View substances in the {{ row }} -{{ col }} tranche"#}
{#                                   class="hover-link hover-link-se hover-link-slow">#}
{#                                    <i class="glyphicon glyphicon-info-sign"><span class="sr-only">View</span></i>#}
{#                                </a>#}
                                        </div>
                                    </td>
                                {% endfor %}
                                <td>
                                    <div class="div-last">
                              <span>
                            {{ axes[2][row] }}.{{ axes[1][row] }}
                        </span>
                                        <br/>
                                        <span id="row-sum-{{ row }}">
                            Sum {{ row }}
                        </span>
                                    </div>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <div>Totals, by HAC</div>
                            </th>
                            {% for col in ticks[0][4:] %}
                                <th>
                                    <div>
                        <span>
                            {{ axes[2][col] }}.{{ axes[0][col] }}
                        </span>
                                        <br/>
                                        <span id="col-sum-{{ col }}">
                            sum {{ axes[0][col] }}
                        </span>
                                    </div>
                                </th>
                            {% endfor %}
                            <th>
                                <div class="div-last">

                                    Tranches: <span id="tranche-count"></span>
                                    <br/>
                                    Total: <span id="tranche-total"></span>
                                </div>
                            </th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}