.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    padding: 10px 0 10px 0;
    background: #ffffff;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

body {
	font-family: Helvetica, 'Helvetica Neue', Verdana, 'Sans-Serif';
	font-size: 8pt;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.dual_range {
  display: inline-block;
  margin: 0 5px 0 5px;
  width: 50px;
  vertical-align: middle;
}

#distslider {
  width: 240px;
}

.ui-slider .ui-slider-handle {
  width: 7px;
}

.ui-widget-header {
  background: #444;
}

input {
	text-align: center;
}

.vert {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    padding: 0;
}

table.swrange th {
    text-align: right;
    margin: 0px;
}

div.dummyclear {
    clear: both;
}

input, select {
    border-radius: 3px;
    border: solid 1px;
}

.edit_input {
    width: 25px;
}

#statusbar {
    width: 100%;
    background-color: #555;
    color: #fff;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
    font-size: 10pt;
    height: 50px;
}

#statusbar img {
    vertical-align: middle;
}

#statusbar div {
  display: inline-block;
  vertical-align: middle;
}

div.content {
    position: relative;
    margin: .5em;
    display: table;
    width: 100%;
    height: 100%;
}

div.left {
	padding: 1.25em;
	margin: .5em;
	display: table-cell;
	min-width: 400px;
}

div.right {
    padding: 1.25em;
	/* background-color: #ffbbbb; */
	width: 100%;
	height: 100%;
	display: table-cell;
}

#export-button {
    position: absolute;
    right: 5px;
    height: 30px;
    top: 0px;
    color: #fff;
    background-color: #555;
    border: none;
    font-weight: bold;
    font-family: Helvetica, 'Helvetica Neue', Verdana, 'Sans-Serif';
}

#input h3, .right h3, .left h3 {
    position: relative;
    height: 20px;
    background-color: #555;
    padding: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 11pt;
    margin: 1em 0 1em 0;
}

#result_container {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #444;
    display: block;
}

#results {
  height:     90%;
  width:      100%;
  /* background-color: #aaaaff; */
}

#jsme_container {
  display: block;
  width: 380px;
  height: 320px;
}

table.dataTable thead th,
table.dataTable thead td
{
  padding: 5px 2px;
}


/* hide sort arrows in narrow edit op columns */
table.dataTable thead th.editop div.DataTables_sort_wrapper span {
  display: none;
}

table.dataTable thead th div.DataTables_sort_wrapper span{
    position:absolute;
    top:50%;
    margin-top:-8px;
    right: auto;
}

th {
  text-align: left;
}

.editop {
  max-width: 30px;
  width: 30px;
}

.compound {
    max-width: 250px;
    width:     250px;
}

img {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
  display: inline-block;
}

table.dataTable tbody td {
  padding: 0;
  text-align: center;
}
table.dataTable td:first-child {
  /* line-height: 0; */
}

table.dataTable tr.odd {
	background-color: #E0FFFC;
}

table.dataTable tr.even {
	 background-color: white;
}


table.compound_cell {
  border-collapse: collapse;
  max-width: 250px;
  width:     250px;
}

table.compound_cell tbody tr {
  background-color: transparent;
}

table.compound_cell tbody td {
  background-color: transparent;
  text-align: left;
  text-overflow: ellipsis;
  overflow:hidden;
  max-width: 150px;
}

table.compound_cell tbody td b,
table.compound_cell tbody td b a,
table.compound_cell tbody td b a:hover,
table.compound_cell tbody td b a:visited {
  color: #444;
  font-weight: bolder;
  text-decoration: none;
}
