{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/custom/api.js"></script>
    <script>
        let chemspaceTable = $('#chemspace_table').DataTable({
            data: cartToArray(),
            "language": {
                "emptyTable": "Cart is empty"
            },
            "scrollY": "450px",
            "scrollX": true,
            "paging": false,
            "info": false,
            "ordering": false,
            columns: [


                {
                    data: "num",
                    "width": "5%",
                },
                {
                    "width": "25%",
                    "mData": function (data) {
                        return '<input type="checkbox" name="salt"/>'
                    },
                },
                {
                    "width": "25%",
                    "mData": function (data) {
                        return '<input type="checkbox" name="stereochemistry"/>'
                    },
                },
                {
                    "width": "25%",
                    "mData": function (data) {
                        return '<input type="checkbox" name="analogs"/>'
                    },
                },
                {data: "identifier"},

            ],
        })
        $('input[name=salt]').change(function () {
            let data = chemspaceTable.row($(this).parents('tr')).data()
            if ($(this).is(':checked')) {
                data.salt = true
            } else {
                // Checkbox is not checked..
                data.salt = false
            }
        });
        $('input[name=stereochemistry]').change(function () {
            let data = chemspaceTable.row($(this).parents('tr')).data()
            if ($(this).is(':checked')) {
                data.stereochemistry = true
            } else {
                // Checkbox is not checked..
                data.stereochemistry = false
            }
        });

        $('input[name=analogs]').change(function () {
            let data = chemspaceTable.row($(this).parents('tr')).data()
            if ($(this).is(':checked')) {
                data.analogs = true
            } else {
                // Checkbox is not checked..
                data.analogs = false
            }
        });
        $('#id_salt').change(function () {
            let data = chemspaceTable.rows().data();
            let val;
            if ($(this).is(':checked')) {
                $('input[name=salt]').prop('checked', true)
                val = true;
            } else {
                // Checkbox is not checked..
                $('input[name=salt]').prop('checked', false)
                val = false;
            }
            data.map(d => d.salt = val)
        });
        $('#id_stereochemistry').change(function () {
            let data = chemspaceTable.rows().data();
            let val;
            if ($(this).is(':checked')) {
                $('input[name=stereochemistry]').prop('checked', true)
                val = true;
            } else {
                // Checkbox is not checked..
                $('input[name=stereochemistry]').prop('checked', false)
                val = false;
            }
            data.map(d => d.stereochemistry = val)
        });
        $('#id_analogs').change(function () {
            let data = chemspaceTable.rows().data();
            let val;
            if ($(this).is(':checked')) {
                $('input[name=analogs]').prop('checked', true)
                val = true
            } else {
                // Checkbox is not checked..
                $('input[name=analogs]').prop('checked', false)
                val = false
            }
            data.map(d => d.analogs = val)
        });

        let exportTable = $('#exportTable').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    title: 'CartList',
                    extend: 'csvHtml5',
                    footer: true,

                },
                {
                    title: 'CartList',
                    extend: 'excelHtml5',
                    footer: true,

                },
                {
                    title: 'CartList',
                    extend: 'pdfHtml5',
                    footer: true,

                },
                {
                    title: 'CartList',
                    text: 'TSV',
                    extend: 'csvHtml5',
                    fieldSeparator: '\t',
                    extension: '.tsv',
                    footer: true,

                },
            ],
            data: cartToArray(),
            columns: [
                {data: "num"},
                {data: "identifier"},
                {data: "cat_name"},
                {data: "supplier_code"},
                {data: "shipping"},
                {
                    "mData": function (data) {
                        return data.quantity + data.unit;
                    }
                },
                {
                    "mData": function (data) {
                        return '$' + data.price;
                    }
                },
                {data: "purchase"},
                {
                    "mData": function (data) {
                        return '$' + data.total;
                    }
                },
            ],
            "footerCallback": function (row, data, start, end, display) {
                console.log(row, data, start, end)
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over this page
                pageTotal = api
                    .column(8)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(8).footer()).html(
                    '$' + pageTotal.toFixed(2)
                );
            }
        })

        $('#send_chemspace').on('click', () => {
            let d = chemspaceTable.rows().data();
            let data = []
            for (let i = 0; i < d.length; i++) {
                data.push(d[i])
            }
            $.ajax({
                type: "POST",
                url: '/order_chemspace',
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $('#exampleModal .close').click();
                    alert(data);
                }
            })

        })
    </script>
    <script type="text/javascript">
        // Client ID and API key from the Developer Console
        var CLIENT_ID = '655763979132-hbv1uk9ipqk3ee60a1v3hmossud56s08.apps.googleusercontent.com'
        var API_KEY = 'AIzaSyBOgEaWPe4LlZqAzAqxe6MsBNwFl405tGA';

        // Array of API discovery doc URLs for APIs used by the quickstart
        var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"];

        // Authorization scopes required by the API; multiple scopes can be
        // included, separated by spaces.
        var SCOPES = "https://www.googleapis.com/auth/spreadsheets";

        var signoutButton = document.getElementById('logoutTab');
        signoutButton.onclick=handleSignoutClick;
        var exportButton = document.getElementById('gsheet');

        /**
         *  On load, called to load the auth2 library and API client library.
         */
        function handleClientLoad() {
            gapi.load('client:auth2', initClient);
        }

        /**
         *  Initializes the API client library and sets up sign-in state
         *  listeners.
         */
        function initClient() {
            gapi.client.init({
                apiKey: API_KEY,
                clientId: CLIENT_ID,
                discoveryDocs: DISCOVERY_DOCS,
                scope: SCOPES
            }).then(function () {
                // Listen for export button clicks.
                exportButton.addEventListener("click", handleExport)
            }, function (error) {
                console.log('cant init')
                console.log(error)
                {#appendPre(JSON.stringify(error, null, 2));#}
            });
        }


        /**
         *  Sign in the user upon button click.
         */
        function handleExport(event) {
            if (gapi.auth2.getAuthInstance().isSignedIn.get()){
             makeApiCall()
            }
            else{
                gapi.auth2.getAuthInstance().signIn().then(function () {
                    makeApiCall()
                });
            }
        }

        /**
         *  Sign out the user upon button click.
         */
        function handleSignoutClick(event) {
            gapi.auth2.getAuthInstance().signOut();
        }

        /**
         * Append a pre element to the body containing the given message
         * as its text node. Used to display the results of the API call.
         *
         * @param {string} message Text to be placed in pre element.
         */
        function appendPre(message) {
            var pre = document.getElementById('content');
            var textContent = document.createTextNode(message + '\n');
            pre.appendChild(textContent);
        }

        function makeApiCall() {
            console.log(gapi.client)
            var request = gapi.client.sheets.spreadsheets.create({
                properties: {
                    title: 'Cart data ' + new Date().toLocaleString()
                }
            });
            request.then(function (response) {
                // TODO: Change code below to process the `response` object:
                console.log(response.result);
                let spreadsheetId = response.result['spreadsheetId']
                let spreadsheetUrl = response.result['spreadsheetUrl']
                var values = [['No', 'identifier', 'db', 'catalog name', 'supplier_code', 'pack size', 'unit', 'price',
                    'shipping', 'purchase qty ', 'total']]
                let data = cartToArray()
                for (let i = 0; i < data.length; i++) {
                    row = [data[i]['num'], data[i]['identifier'], data[i]['db'], data[i]['cat_name'],
                        data[i]['supplier_code'], data[i]['quantity'], data[i]['unit'], data[i]['price'],
                        data[i]['shipping'], data[i]['purchase'], data[i]['total']]
                    values.push(row)
                }
                    var body = {
                        values: values
                    };
                    console.log(body)
                    gapi.client.sheets.spreadsheets.values.update({
                        spreadsheetId: spreadsheetId,
                        range: 'A1',
                        valueInputOption: 'RAW',
                        resource: body
                    }).then((response) => {
                        var result = response.result;
                        console.log(spreadsheetUrl)
                        {#console.log(`${result.updatedCells} cells updated.`);#}
                        window.open(spreadsheetUrl, '_blank');
                        let spinner = $('#spinner')
                        spinner.html("Success, you may close this modal. ")

                    },
                    function (reason) {
                        console.log('end catch hiij bn ')
                        let spinner = $('#spinner')
                        spinner.html("Error, you may close this modal. ")
        console.error('error: ' + reason.result.error.message);
                    });


            }, function (reason) {
                console.log('create')
                console.error('error: ' + reason.result.error.message);
            });
        }
    </script>
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
{% endblock %}
{% block app_content %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Sorry</h3>
        </div>
        <div class="panel-body">
            <p>
                This page is in under construction. But you can export your purchase into .csv, .xlxs, .pdf, .tsv files.
                {% if not current_user.is_anonymous %}
                    <p>this will not be sent to ChemSpace - we are just testing
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Send to ChemSpace
                        </button>
                    </p>
                    <p>
                        <button class="btn btn-info" id="gsheet" data-toggle="modal" data-target="#googleExportModal">Export to google sheets</button>
                    </p>

                {% endif %}

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" this will not be sent to ChemSpace - we are
                                just testing</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table id="chemspace_table" style="width: 100%">
                                <thead style="width:100%">
                                <tr>
                                    <th>No</th>
                                    <th>Request salt if possible? <input type="checkbox" id="id_salt"/>
                                    </th>
                                    <th>Require exact stereochemistry? <input type="checkbox" id="id_stereochemistry"/>
                                    </th>
                                    <th>Quote close analogs? <input type="checkbox" id="id_analogs"/></th>
                                    <th>Identifier</th>

                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-info" id="send_chemspace">Send</button>
                        </div>
                    </div>
                </div>
            </div>

            <table id="exportTable">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Identifier</th>
                    <th>Catalog Name</th>
                    <th>Supplier Code</th>
                    <th>Delivery time</th>
                    <th>Pack size</th>
                    <th>Pack price</th>
                    <th>Purchase Qty</th>
                    <th>Total price</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="8" style="text-align:right"></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
            </p>
            {#         <p><button class="btn btn-info">Import from google sheets</button></p>#}
        </div>
        <div class="panel-footer text-right">
            <a href="{{ url_for('main.sw') }}">
                <button class="btn btn-info">Return to Smallworld</button>
            </a>
            <a href="{{ url_for('main.arthor') }}">
                <button class="btn btn-info">Return to Arthor</button>
            </a>
            <a href="{{ url_for('main.newcart') }}">
                <button class="btn btn-info"><span
                        class="glyphicon glyphicon-shopping-cart" style="font-size:18px"></span></button>
            </a>
        </div>
    </div>
    <div class="modal fade" id="googleExportModal" tabindex="-1" role="dialog" aria-labelledby="googleExportModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Export to google sheets</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div id="spinner">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                        <p id="googleExportResult">Loading...</p>

                    </div>
                    <div id="googleExportResult">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}