{% extends 'base.html' %}


<title>Arthor</title>
{% block metas %}
<meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
{% endblock %}

{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="../static/css/arthor/datatables.min.css" type="text/css" /> -->
<!-- <link rel="stylesheet" href="../static/css/arthor/jquery-ui.min.css" type="text/css" /> -->
<link rel="stylesheet" type="text/css" href="../static/css/arthor/odometer.css">
<link rel="stylesheet" type="text/css" href="../static/css/arthor/arthor.css">
{#<link rel="stylesheet" type="text/css" href="../static/css/arthor/index.css">#}
{#<link rel="stylesheet" type="text/css" href="../static/css/arthor/load.css">#}
<!-- <link rel="stylesheet" type="text/css" href="../static/css/arthor/font-awesome.min.css"> -->
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="../static/js/arthor/smi.min.js"></script>
{#<script type="text/javascript" src="../static/js/arthor/datatables.min.js"></script>#}
<script type="text/javascript" src="../static/js/arthor/jsme/jsme.nocache.js"></script>
<script type="text/javascript" src="../static/js/arthor/odometer.min.js"></script>
<script type="text/javascript" src="../static/js/arthor/at_mesg.js"></script>
<script type="text/javascript" src="../static/js/custom/cart.js"></script>
<script type="text/javascript" src="../static/js/arthor/arthor.js"></script>
<script type="text/javascript" src="../static/js/arthor/sketcher.js"></script>
<script type="text/javascript" src="../static/js/arthor/mouseover.js"></script>
<script type="text/javascript" src="../static/js/arthor/search.js"></script>
<script type="text/javascript">
  var textInputFunc = null;

  function getSketcher() {
    return new Promise(function (resolve, reject) {
      (function waitForSketcher() {
        switch (sketcher) {
          case 'jsme':
            if (jsmeApplet)
              return resolve(jsmeApplet);
            break;
          case 'marvinjs':
            if (marvinjs)
              return resolve(marvinjs);
            break;
        }
        setTimeout(waitForSketcher, 30);
      })();
    });
  }

  $(document).ready(function () {
    if (localStorage.getItem('cart') != null) {
      console.log('arthor document.ready working')
      let cart = JSON.parse(localStorage.getItem('cart'))
      $('#cartCount').html(getCartSize(cart))
    }
    arthor.getConfig()
      .done(function (response) {

        if (response.WebApp.SearchAsYouDraw)
          $('#arthor_search_button').removeClass('onclick');
        else
          $('#arthor_search_button').addClass('onclick');

        if (!response.WebApp.RESOLVER) {
          add_at_mesg("No resolver is configured, text input disabled!", Mesg.Info);
          $('#ar_opt_box').addClass('no-resolver');
        }
      });
    arthor.getTables()
      .done(function (response) {
        var $list = $('#arthor_table_list');
        $list.empty();
        $.each(response, function (i, e) {
          var $item = $('<li>').append('<i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;')
            .attr('onclick', 'setTable(this)')
            .attr('value', e.displayName).append(e.displayName);
          if (i == 0)
            $item.addClass("selected");
          $list.append($item);
        });
        if (localStorage && localStorage.table)
          setTable($('#arthor_table_list li[value="' + localStorage.table + '"]')[0]);
        else
          setTable($('#arthor_table_list li.selected')[0]);
        if (localStorage && localStorage.searchType)
          setSearchType($('#arthor_search_list li[value="' + localStorage.searchType + '"]')[0]);
        else
          setSearchType($('#arthor_search_list li.selected')[0]);
        sketchCallback = function (e) {
          arthor.setQuery(e);
        };

        // load the sketcher
        if (localStorage && localStorage.molfile) {
          getSketcher().then(function () {
            set_structure(localStorage.molfile);
          });
        }

        arthor.addListener(function () {
          arthor.time = null;
          setDownloadLinks();
          redraw();
        });
      });

    $('#content').width($('#content').parent().width() - 450);
    var redrawFunc = null;
    $(window).resize(function () {
      clearTimeout(redrawFunc);
      redrawFunc = setTimeout(function () {
        $('#content').width($('#content').parent().width() - 450);
        dtable = null;
        redraw();
      }, 500);
    });

  });

  function listSelect(item) {
    var $item = $(item);
    $item.siblings(".selected").removeClass('selected');
    $item.addClass('selected');
  }

  function setTable(item) {
    var table_name = $(item).attr('value');
    arthor.setTable(table_name);
    listSelect(item);
    if (localStorage)
      localStorage.table = table_name;
  }

  function setSearchType(item) {
    var type = $(item).text()
    arthor.setSearchType(type);
    listSelect(item);
    $('#ar_opt_box,#nav').removeClass("similarity substructure smarts")
      .addClass(type.toLowerCase());
    if (type === 'SMARTS') {
      set_structure(null);
      $('#ar_text_input').attr('placeholder', 'Enter SMARTS')
      $('#smiles-in').attr('display', 'hide')
    } else {
      handleTextInput($('#ar_text_input'));
      $('#ar_text_input').attr('placeholder', 'Enter SMILES, Name, Identifier...')
    }
    if (localStorage)
      localStorage.searchType = $(item).attr('value');
  }

  function toggleOpt(id) {
    $('#' + id).toggleClass('enabled');
    if (id === 'opt_lock_rings') {
      if ($('#' + id).hasClass('enabled'))
        arthor.setFlag(QueryFlags.LOCK_RINGS);
      else
        arthor.clearFlag(QueryFlags.LOCK_RINGS);
    }
    else if (id === 'opt_lock_chains') {
      if ($('#' + id).hasClass('enabled'))
        arthor.setFlag(QueryFlags.LOCK_CHAINS);
      else
        arthor.clearFlag(QueryFlags.LOCK_CHAINS);
    }
    else if (id === 'opt_lock_props') {
      var props = QueryFlags.LOCK_CHARGES | QueryFlags.LOCK_ISOTOPES;
      if ($('#' + id).hasClass('enabled'))
        arthor.setFlag(props);
      else
        arthor.clearFlag(props);
    }
  }

  function handleTextInput(input) {
    clearTimeout(textInputFunc);
    textInputFunc = setTimeout(function () {
      if (arthor.type === 'SMARTS')
        arthor.setQuery($(input).val());
      else
        resolve_structure(input);
    }, 500);
  }

  function setDownloadLinks() {
    var limit = 500;
    var params = $.param({
      query: arthor.query,
      type: arthor.type,
      draw: 0,
      start: 0,
      length: limit,
      flags: arthor.flags
    });
    var base_url = arthor.url + '/dt/' + arthor.table + '/search';
    $('#arthor_sdf_link_500').attr('href', base_url + '.sdf?' + params);
    $('#arthor_tsv_link_500').attr('href', base_url + '.tsv?' + params);
    $('#arthor_csv_link_500').attr('href', base_url + '.csv?' + params);
    var limit = 5000;
    var params = $.param({
      query: arthor.query,
      type: arthor.type,
      draw: 0,
      start: 0,
      length: limit,
      flags: arthor.flags
    });
    var base_url = arthor.url + '/dt/' + arthor.table + '/search';
    $('#arthor_sdf_link_5000').attr('href', base_url + '.sdf?' + params);
    $('#arthor_tsv_link_5000').attr('href', base_url + '.tsv?' + params);
    $('#arthor_csv_link_5000').attr('href', base_url + '.csv?' + params);
    var limit = 10000;
    var params = $.param({
      query: arthor.query,
      type: arthor.type,
      draw: 0,
      start: 0,
      length: limit,
      flags: arthor.flags
    });
    var base_url = arthor.url + '/dt/' + arthor.table + '/search';
    $('#arthor_sdf_link_10000').attr('href', base_url + '.sdf?' + params);
    $('#arthor_tsv_link_10000').attr('href', base_url + '.tsv?' + params);
    $('#arthor_csv_link_10000').attr('href', base_url + '.csv?' + params);
       var limit = 50000;
    var params = $.param({
      query: arthor.query,
      type: arthor.type,
      draw: 0,
      start: 0,
      length: limit,
      flags: arthor.flags
    });
    var base_url = arthor.url + '/dt/' + arthor.table + '/search';
        $('#arthor_tsv_link_50000').attr('href', base_url + '.tsv?' + params);
        $('#arthor_csv_link_50000').attr('href', base_url + '.csv?' + params);
        $('#arthor_sdf_link_50000').attr('href', base_url + '.sdf?' + params);
        var limit = 100000;
    var params = $.param({
      query: arthor.query,
      type: arthor.type,
      draw: 0,
      start: 0,
      length: limit,
      flags: arthor.flags
    });
    var base_url = arthor.url + '/dt/' + arthor.table + '/search';
        $('#arthor_tsv_link_100000').attr('href', base_url + '.tsv?' + params);
        $('#arthor_csv_link_100000').attr('href', base_url + '.csv?' + params);
        $('#arthor_sdf_link_100000').attr('href', base_url + '.sdf?' + params);
        var limit = 500000;
    {#var params = $.param({#}
    {#  query: arthor.query,#}
    {#  type: arthor.type,#}
    {#  draw: 0,#}
    {#  start: 0,#}
    {#  length: limit,#}
    {#  flags: arthor.flags#}
    {#});#}
    {#var base_url = arthor.url + '/dt/' + arthor.table + '/search';#}
    {#    $('#arthor_tsv_link_500000').attr('href', base_url + '.tsv?' + params);#}
    {#    $('#arthor_csv_link_500000').attr('href', base_url + '.csv?' + params);#}
    {#    $('#arthor_sdf_link_500000').attr('href', base_url + '.sdf?' + params);#}

  }
</script>
{% endblock %}

{% block app_content %}

<div id="content">
  <div id="nav" class="">
    <div class="panel panel-success" id="section-head">

    </div>
    <div id="sketch-holder">
      <div id="sketcher"></div>
    </div>
    <div id="ar_opt_box" class="">
      <input id="ar_text_input" onkeyup="handleTextInput(this)" placeholder="Enter SMILES, Name, Identifier...">

      <input id="smiles-in" onkeyup="load_smiles(this)" style="width: 100%; text-align: left; font-family: Monospace;"
        placeholder="Smiles-in">
      <ul id="arthor_search_list">
{#        <li value="SIM" onclick="setSearchType(this)" class="first">Similarity</li>#}
        <li value="SUB" onclick="setSearchType(this)">Substructure</li>
        <li value="SMA" onclick="setSearchType(this)" class="last">SMARTS</li>
      </ul>
      <button id="arthor_search_button" onclick="if(!arthor.config.WebApp.SearchAsYouDraw){arthor.notify();}">
        <span class="ondraw">
          <i title="Search as you draw" class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <span class="onclick">
          <i class="fa fa-search" aria-hidden="true"></i> Search
        </span>
      </button>
      <!-- SubSearch Specific Options -->
      <div class="ar_subsearch_opts">
        <i class="fa" aria-hidden="true"></i>
        <div id="opt_lock_rings" onclick="toggleOpt('opt_lock_rings')" class="ar_opt"
          title="Lock/unlock ring systems, when locked ring systems can not be part of a larger system. Example (when locked): benzene would not match naphthalene.">
          <i class="fa" aria-hidden="true"></i> Ring systems
        </div>
        <div id="opt_lock_chains" onclick="toggleOpt('opt_lock_chains')" class="ar_opt"
          title="Lock/unlock chains, when locked atoms in chains will not match atoms in rings. Example (when locked): hexane would not match cyclohexane.">
          <i class="fa" aria-hidden="true"></i> Chains
        </div>
        <div id="opt_lock_props" onclick="toggleOpt('opt_lock_props')" class="ar_opt enabled"
          title="Lock/unlock atom properties: charge, isotope, and connectivity. Example (when unlocked): an atom with unspecified charge/isotope can match an atom with specified charge/isotope.">
          <i class="fa" aria-hidden="true"></i> Properties
        </div>
      </div>
      <!-- This will be populated by available databases -->
      <ul id="arthor_table_list">
      </ul>
      <div class="at_mesgs">
        <div class="at_mesg">
          <i class="fa fa-info-circle"></i>
          <i class="fa fa-warning"></i>
          <span class="at_mesg_content">An error message</span>
          <button onclick="$(this).parent().remove();"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div id="res-panel">
    <div id="res-head">
      <div id="res-info">
        <span id="search_type">Found</span>
        <span id="hit_count" class="emph">0</span> results in
        <span id="search_time" class="odometer-value emph">0</span> ms
      </div>
      <div id="res-loading">
        Searching <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </div>
      <div id="res-download">
        <div class="dropdown">
          <button class="dropbtn"><i class="fa fa-download"></i></button>
          <div class="dropdown-content">
            <a data-toggle="modal" data-target="#tsvDownload"><i class="fa fa-download"></i> TSV</a>
            <a data-toggle="modal" data-target="#csvDownload"><i class="fa fa-download"></i> CSV</a>
            <a data-toggle="modal" data-target="#sdfDownload"><i class="fa fa-download"></i> SDF</a>
{#            <a id="arthor_tsv_link" href="#"><i class="fa fa-download"></i> TSV</a>#}
{#            <a id="arthor_csv_link" href="#"><i class="fa fa-download"></i> CSV</a>#}
{#            <a id="arthor_sdf_link" href="#"><i class="fa fa-download"></i> SDF</a>#}
          </div>
        </div>
      </div>

        <!-- Modal TSV-->
<div class="modal fade" id="tsvDownload" tabindex="-1" role="dialog" aria-labelledby="tsvDownloadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download as a TSV format</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <ul class="list-group">
     <li  class="list-group-item"><a id="arthor_tsv_link_500" href="#"><i class="fa fa-download"></i> Download 500 molecules</a></li>
     <li class="list-group-item"><a id="arthor_tsv_link_5000" href="#"><i class="fa fa-download"></i> Download 5000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_tsv_link_10000" href="#"><i class="fa fa-download"></i> Download 10000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_tsv_link_50000" href="#"><i class="fa fa-download"></i> Download 50000 molecules </a></li>
     <li class="list-group-item"><a id="arthor_tsv_link_100000" href="#"><i class="fa fa-download"></i> Download 100000 molecules </a></li>
{#     <li class="list-group-item"><a id="arthor_tsv_link_500000" href="#"><i class="fa fa-download"></i> Download 500000 molecules </a></li>#}
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>
        <!-- Modal CSV -->
<div class="modal fade" id="csvDownload" tabindex="-1" role="dialog" aria-labelledby="csvDownloadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download as a CSV format</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <ul class="list-group">
     <li  class="list-group-item"><a id="arthor_csv_link_500" href="#"><i class="fa fa-download"></i> Download 500 molecules</a></li>
     <li class="list-group-item"><a id="arthor_csv_link_5000" href="#"><i class="fa fa-download"></i> Download 5000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_csv_link_10000" href="#"><i class="fa fa-download"></i> Download 10000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_csv_link_50000" href="#"><i class="fa fa-download"></i> Download 50000 molecules </a></li>
             <li class="list-group-item"><a id="arthor_csv_link_100000" href="#"><i class="fa fa-download"></i> Download 100000 molecules </a></li>
{#     <li class="list-group-item"><a id="arthor_csv_link_500000" href="#"><i class="fa fa-download"></i> Download 500000 molecules </a></li>#}
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>
        <!-- Modal SDF -->
<div class="modal fade" id="sdfDownload" tabindex="-1" role="dialog" aria-labelledby="sdfDownloadLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download as a SDF format</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <ul class="list-group">
     <li  class="list-group-item"><a id="arthor_sdf_link_500" href="#"><i class="fa fa-download"></i> Download 500 molecules</a></li>
     <li class="list-group-item"><a id="arthor_sdf_link_5000" href="#"><i class="fa fa-download"></i> Download 5000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_sdf_link_10000" href="#"><i class="fa fa-download"></i> Download 10000 molecules</a></li>
     <li class="list-group-item"><a id="arthor_sdf_link_50000" href="#"><i class="fa fa-download"></i> Download 50000 molecules </a></li>
             <li class="list-group-item"><a id="arthor_sdf_link_100000" href="#"><i class="fa fa-download"></i> Download 100000 molecules </a></li>
{#     <li class="list-group-item"><a id="arthor_sdf_link_500000" href="#"><i class="fa fa-download"></i> Download 500000 molecules </a></li>#}
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>



    </div>
    <div id="splash" style="margin: auto; width: 40%; color: #fff; margin-top: 20%; text-align: center;">
      <i><span id="splash-mesg">To start a search draw a query structure in the sketcher</span></i>
    </div>
    <table id="results">
    </table>
  </div>
  <div id="cleared">
  </div>
</div>
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Similar molecules in UCSF  <span class="pull-right">40</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table id="hgData" style="width:100%;">
              <thead style="width:100%;">
            <tr style="width:100%;">
               <th>Incart</th>
                 <th>Image</th>
                <th>Identifier</th>
                <th>Smile</th>
            </tr>
        </thead>
          </table>
{#        <p id="hgData"></p>#}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}