{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script>
    </script>
{% endblock %}
{% block app_content %}
    <h3>Search by Supplier Code</h3>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Search Using Many (Under Construction)</div>
            <div class="panel-body">
                <form action="" method="post" class="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="textareasupplier">Supplier code separated by comma without space:</label>
                        <textarea id="textareasupplier" class="form-control" name="list_of_suppliercode" rows="6" cols="20" placeholder="Supplier Codes"></textarea>
                    </div>
                        <h5>OR Upload a File</h5>
                    <div class="form-group">
                        <label for="myfile">Select a file (.txt only):</label>
                        <input type="file" id="myfile" name="supplier_file" class="form-control" accept=".txt">
                    </div>
                    <button class="btn btn-info" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#    <h4>CURL commands for searching Supplier Code</h4>#}
{#        <p>Below curl command returns a json file with all possible fields. </p>#}
{#        <p>With text file:</p>#}
{#<code>#}
{#curl http://cartblanche22.docking.org/catalogs.json -F supplier_code-in=@sup.txt#}
{# </code>#}
{#    <p>Without text file (Separated by ,):</p>#}
{#        <code>#}
{#curl http://cartblanche22.docking.org/catlist -F supplier_code-in="s_1070__3705440__1080206"#}
{#</code>#}
{#    </div>#}

{% endblock %}