{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
<script>
</script>
{% endblock %}
{% block app_content %}
    <h3>Search by Smiles</h3>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Search Using Many (Under Construction)</div>
            <div class="panel-body">
                <form action="" method="post" class="form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="textareasmiles">Smiles separated by comma without space:</label>

                        <textarea id="textareasmiles" class="form-control" name="list_of_smiles" rows="6" cols="20" placeholder="Smiles"></textarea>
                    </div>
                        <h5>OR Upload a File</h5>
                    <div class="form-group">
                        <label for="myfile">Select a file (.txt only):</label>
                        <input type="file" id="myfile" name="smiles_file" class="form-control" accept=".txt">
                    </div>
                    <label for="distformat"> dist:</label>
                         <select name="dist" class="btn btn-info" id="distformat">
                                        <option value="0" id="dist-0" selected>
                                           0
                                        </option>
                           <option value="1" id="dist-1" >
                               1
                                        </option>
                           <option value="2" id="dist-2" >
                                           2
                                        </option>

                                    </select>
                    <label for="adistformat"> adist:</label>
                         <select name="adist" class="btn btn-info" id="adistformat">
                                        <option value="0" id="adist-0" selected>
                                           0
                                        </option>
                           <option value="1" id="adist-1" >
                               1
                                        </option>
                           <option value="2" id="adist-2" >
                                           2
                                        </option>

                                    </select>
                    <button class="btn btn-info" type="submit" name="Search">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
{# <div class="row">#}
{#    <h4>CURL commands for searching Smiles</h4>#}
{#     <p>Below curl command returns a json file with all possible fields. </p>#}
{#     <p>With text file:</p>#}
{#<code>#}
{#curl http://cartblanche22.docking.org/smiles.json -F smiles-in=@smiles.txt -F dist=0#}
{# </code>#}
{#    <p>Without text file (Separated by ,):</p>#}
{#        <code>#}
{#curl http://cartblanche22.docking.org/smilelist -F smiles-in="[C+]2(=C1CCCCC1)=CC=CC=C2,C1=CC=CC=C1C2=CC=CC=C2" -F dist=0#}
{#</code>#}
{#    </div>#}
{% endblock %}