{%  extends 'base.html' %}
{% block metas %}
<meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/sw/sw.css">
{% endblock %}
{% block scripts %}
{{super()}}
    <script src="../static/js/jsme/jsme.nocache.js"></script>
<script src="../static/js/custom/cart.js"></script>
<script src="../static/js/custom/hg.js"></script>
<script src="../static/js/sw/swpsearch.js"></script>
    <script src="../static/js/sw/sketcher.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        {#items = JSON.parse('{{ items | tojson }}');#}
        $('#content').width($('#content').parent().width() - 450);
        $(window).resize(function () {
            $('#content').width($('#content').parent().width() - 450);
            if (dtable) {
                resize();
                {#redraw(JSON.parse('{{ items | tojson }}'));#}
            }
        });
        db_maps($('#dbsel'));
        toggle_scoring();
    });
</script>
<script type="text/javascript">
    install_range_slider('dist', 25);
    install_range_slider('topodist', 25);
    install_range_slider('tup');
    install_range_slider('tdn');
    install_range_slider('rup');
    install_range_slider('rdn');
    install_range_slider('lup');
    install_range_slider('ldn');
    install_range_slider('maj');
    install_range_slider('min');
    install_range_slider('sub');
    install_range_slider('hyb');

</script>

{% endblock %}
{%  block app_content %}
<!-- <div id="menu">
        <div style="padding-right: 2px"><img src="img/logo3_box.svg" height="30px"></div>
        <div style="padding-left: 2px; font-size: 12pt;">SmallWorld</div>
        &nbsp;
        <div class="active">Search</div>
        <div><a href="load.html">Manage Datasets</a></div>
        <div style="width: 100%"></div>
        <div>Version 4.0</div>
    </div> -->


<div id="content">
    <div id="nav">

        <div class="panel panel-info" id="section-head">
            <div class="panel-heading">
                Smallworld : Search by whole molecule similarity (graph-edit-distance with calculated Tanimoto
                coefficient "private")
            </div>

        </div>

        <div id="sketch-holder" style="width: 100%; text-align: middle;">
            <div id="sketcher"></div>
            <!-- Marvin JS? -->
            <!--<iframe id="sketch-frame" src="js/marvinjs/editor.html"-->
            <!--style="overflow: hidden; width: 100%; height: 350px; border: 1px solid darkgray;">-->
            <!--</iframe>-->
        </div>


        <!-- Structure Editor -->
        <table class="swopt searchasyoudraw" style="width: 100%;">
            <tr>
                <th>Identifier</th>
                <td class="spacer"></td>
                <td colspan="2" style="padding-right: 20px;">
                    <input id="smiles-in" onkeyup="load_smiles(this)"
                        style="width: 100%; text-align: left; font-family: Monospace;">
                </td>
            </tr>
            <tr>
                <th>DataSet</th>
                <td class="spacer"></td>
                <td colspan="2" style="padding-right: 20px;">
                    <select style="width: 100%;" id="dbsel" name="db" onchange="refresh()">
                    </select>
                </td>
            </tr>
            <tr>
                <th>Search Type</th>
                <td class="spacer"></td>
                <td>
                    <select name="mode" onchange="set_mode()">
                        <option value="swsim">SmallWorld</option>
                        <option value="swmcs">Maximum Common Substructure</option>
                        <option value="swsub">Substructure</option>
                        <option value="swsup">Superstructure</option>
                        <option value="swmurko">Bemis-Murcko Framework</option>
                        <option value="swskel">Element Graph</option>
                    </select>
                </td>
                <td>
                    <input name="optAdv" type="checkbox" checked
                        onchange="$('#advPanel').css('display', $(this).prop('checked') ? 'block' : 'none'); update_visible_columns();">
                    Advanced
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="spacer"></td>
                <td></td>
                <td><button class="search" onclick="refresh()">Search <i class="fa fa-search"
                            aria-hidden="true"></i></button></td>
            </tr>

        </table>

        <div id="advPanel" style="display: block">

            <div class="section-head">
                Advanced Options
            </div>

            <table class="swrange">
                <tr>
                    <th>Distance</th>
                    <td class="spacer"></td>
                    <td colspan="4">
                        <input class="edit_input" onchange="update_bound('dist')" name="distlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">
                        <div id="distslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('dist')" name="distub" type="number" value="10"
                            min="0" max="99" step="1" maxlength="2">
                    </td>
                </tr>
                <tr>
                    <th>Anon Distance</th>
                    <td class="spacer"></td>
                    <td colspan="4">
                        <input class="edit_input" onchange="update_bound('topodist')" name="topodistlb" type="number"
                            value="0" min="0" max="99" step="1" maxlength="2">
                        <div id="topodistslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('topodist')" name="topodistub" type="number"
                            value="4" min="0" max="99" step="1" maxlength="2">
                    </td>
                </tr>
                <tr>
                    <th>Terminal</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('tup')" name="tuplb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="tupslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('tup')" name="tupub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Up
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <td><input class="edit_input" onchange="update_bound('tdn')" name="tdnlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="tdnslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('tdn')" name="tdnub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Down
                    </td>
                </tr>
                <tr>
                    <th>Ring</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('rup')" name="ruplb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="rupslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('rup')" name="rupub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Up
                    </td>
                    <td></td>
                    <td><input class="edit_input" onchange="update_bound('rdn')" name="rdnlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="rdnslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('rdn')" name="rdnub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Down
                    </td>
                </tr>
                <tr>
                    <th>Linker</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('lup')" name="luplb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="lupslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('lup')" name="lupub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Up
                    </td>
                    <td></td>
                    <td><input class="edit_input" onchange="update_bound('ldn')" name="ldnlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="ldnslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('ldn')" name="ldnub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Down
                    </td>
                </tr>
                <tr>
                    <th>Mutation</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('maj')" name="majlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="majslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('maj')" name="majub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Major
                    </td>
                    <td></td>
                    <td><input class="edit_input" onchange="update_bound('min')" name="minlb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="minslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('min')" name="minub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2"> Minor
                    </td>
                </tr>
                <tr>
                    <th>Substitution</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('sub')" name="sublb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="subslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('sub')" name="subub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2">
                    </td>
                </tr>
                <tr>
                    <th>Hybridisation</th>
                    <td class="spacer"></td>
                    <td><input class="edit_input" onchange="update_bound('hyb')" name="hyblb" type="number" value="0"
                            min="0" max="99" step="1" maxlength="2">

                        <div id="hybslider" class="dual_range"></div>
                        <input class="edit_input" onchange="update_bound('hyb')" name="hybub" type="number" value="4"
                            min="0" max="99" step="1" maxlength="2">
                    </td>
                </tr>
            </table>

            <div class="section-head">
                Scoring Methods
            </div>
            <table id="swscore">

            </table>
        </div>

    </div>
    <div id="res-panel">
        <div id="res-head">
            Results
            <button title="Download Results" id="export-button" onclick="export_results();">
                <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </button>

        </div>

        <table id="results">
        </table>
        <div style="width: 100%; max-width: 100%; position: absolute; bottom: 0">
            <table id="key">
                <tr>
                    <td style="background-color: #2cbe84;">Identical</td>
                    <td style="background-color: #adffab;">Hydrogen Substitution</td>
                    <td style="background-color: #adffab;">Hybridisation Change</td>
                    <td style="background-color: #FFF277;">Minor Transmutation</td>
                    <td style="background-color: #FFB67E;">Major Transmutation</td>
                    <td style="background-color: #ffbec4;">Deletion</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="cleared">
    </div>
</div>
<div id="imgpop" class="popbox">
</div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Similar molecules in UCSF  <span class="pull-right">40</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table id="hgData" style="width:100%;">
              <thead style="width:100%;">
            <tr style="width:100%;">
               <th>Incart</th>
                 <th>Image</th>
                <th>Identifier</th>
                <th>Smile</th>
            </tr>
        </thead>
          </table>
{#        <p id="hgData"></p>#}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%  endblock %}