{% extends "base.html" %}

{% block app_content %}
    <div class="body-content">
    <h2>Acknowledgments</h2>
    <p>
        We are grateful to the following individuals, companies and organizations
        for their support of Cartblanche. Any faults remain the responsibility of John Irwin.
    </p>
    <div class="body-content">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3>People</h3>
                <ul>
                    <li>Munkhzul Khurelbaatar, John Irwin</li>
                    <li>Peter Ertl and Bruno Bienfait for <a target=_blank href="http://peter-ertl.com/jsme">JSME</a>
                    </li>
                    <li>Matthias Rarey and Team for <a target=_blank href="http://smartsview.zbh.uni-hamburg.de/">SMARTSviewer</a>
                    </li>
{#                    <li>Greg Landrum and Team for <a target=_blank href="http://rdkit.org">RDKit</a>.#}
{#                        It is no exaggeration to say that ZINC would be a shadow of its current self#}
{#                        without Greg and his colleagues. Thank you.#}
{#                    </li>#}
                    <li><a target=_blank href="http://irwinlab.compbio.ucsf.edu/people">Irwin Lab members</a>,
                        particularly:
                        <ul>
                            <li>Current: Munkhzul Khurelbaatar, Khanh Tang, Chinzorig Dandarchuluun</li>
                            <li>Former: Jennifer Young</li>
                        </ul>
                    </li>
                    <li><a target=_blank href="http://bkslab.org/people.php">Shoichet Lab members</a>
{#                        <ul>#}
{#                            <li>Current: Trent Balius, Matt O'Meara</li>#}
{#                            <li>Former: Nir London, Ryan Coleman, Michael Mysinger</li>#}
{#                        </ul>#}
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6">
{#                <h3>Usage</h3>#}
{#                <ul>#}
{#                    <li><a href="http://zinc15.docking.org/stats/">Site Usage</a></li>#}
{#                    <li><a href="http://files.docking.org/stats/">Direct Downloads</a></li>#}
{#                    <li><a href="http://stats.docking.org/zinc12/">Previous Version Usage</a></li>#}
{#                </ul>#}
                <h3>Chemical informatics software companies</h3>
                <ul>
                    <li><a target="_blank" href="https://www.nextmovesoftware.com/arthor.html">NextMove software : Arthor</a></li>
                    <li><a target="_blank" href="https://www.nextmovesoftware.com/smallworld.html">NextMove software : Smallworld</a></li>
                    <li><a target=_blank href="http://www.chemaxon.com">ChemAxon</a></li>
                    <li><a target=_blank href="http://www.molinspiration.com">Molinspiration</a></li>
                    <li><a target=_blank href="http://www.eyesopen.com">OpenEye Scientific Software</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3>Special mention</h3>
                <ul>
                    <li><a href="">Compound Vendors</a>, for catalogs via collaborative
                        agreements.
                    </li>
                    <li><a href="">Annotated Catalogs</a>, for biological activities, via
                        collaborative agreements.
                    </li>
                    <li><a target=_blank href="http://tcm.cmu.edu.tw/">TCM Database@Taiwan</a>,
                        <a target=_blank href="http://drugbank.ca/">DrugBank</a>,
                        <a target=_blank href="http://www.ebi.ac.uk/chembl/">ChEMBL</a>,
                        <a target=_blank href="http://hmdb.ca/">HMDB</a></li>
                    <li><a target=_blank href="http://www.nigms.nih.gov">NIGMS</a>, for financial support via GM71896
                        (to BKS and JJI)
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6">
                <h3>Free software and service providers</h3>
                <ul>
                    <li><a target=_blank href="http://www.php.net">PHP</a>,
                        <a target=_blank href="http://www.apache.org">Apache</a>,
                        <a target=_blank href="http://www.redhat.com">RedHat</a>,
                        <a target=_blank href="http://www.centos.org">CentOS</a>,
                        <a target=_blank href="http://www.rdkit.org">RDKit</a></li>
                    <li><a target=_blank href="http://www.perl.org">Perl</a>,
                        <a target=_blank href="http://www.python.org">Python</a>,
                        <a target=_blank href="http://www.mysql.com">MySQL</a>,
                        <a target=_blank href="http://www.postgresql.com">PostgreSQL</a>
                    <li>
                        <a target=_blank href="http://www.mediawiki.org">MediaWiki</a>,
                        <a target=_blank href="http://www.sqlalchemy.org">SQLAlchemy</a>,
                        <a target=_blank href="http://flask.pocoo.org">Flask</a></li>
                    <li>
                        <a target=_blank href="http://iupac.org/inchi">IUPAC for InChI and InChIKey</a>
                    </li>
                    <li>
                        <a target=_blank href="http://www.povray.org">Povray</a>,
                        <a target=_blank href="http://www.jmol.org">Jmol</a>,
                        <a target=_blank href="http://www.drupal.org">Drupal</a>,
                        <a target=_blank href="http://google.com">Google</a></li>
                </ul>
            </div>
        </div>

        <hr width=60%>
        <p>If your name, software, company or organization should be here, please let us know so we can make it
            right!</p>
        <p>Our email is: cartblache20@gmail.com</p>
{#        <p>To learn more about ZINC 15, please see <a target=_blank#}
{#                                                      href="http://wiki.bkslab.org/index.php/Category:ZINC15">our#}
{#            wiki</a>.</p>#}

    </div>
</div>

{% endblock %}