{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="en"{% endblock %}
{#{% import "bootstrap/google.html" as google %}#}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8">
<meta name="Description" content="Cartblanche molecule shopping application">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" type="text/css" href="../static/css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/fontawesome-all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
        <style>

  .ui-tooltip {
    padding: 10px 20px;
    color: black;
      width: 30%;
    border-radius: 20px;
    font: 14px "Helvetica Neue", Sans-Serif;
    {#box-shadow: 0 0 7px black;#}
      opacity: 1;
      background-color: white;
              position: absolute;

  }

    </style>
{% endblock %}

{% block scripts %}
    {{super()}}
    {#{{google.uanalytics('UA-10800222-14')}}#}

<script src="../static/js/datatables.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

<script type="text/javascript" src="../static/js/custom/cart.js"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip({
       boundary: 'window',
         position: {
        my: "center bottom-10",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
  })
})
    $(document).ready(() => {
        if (localStorage.getItem('cart') != null) {
            console.log('base document.ready working')
            let cart = JSON.parse(localStorage.getItem('cart'))
            $('#cartCount').html(getCartSize(cart))
        }

    })
    $('#logoutTab').on('click', () => {
        console.log('cleaning localstorage')
        let cart = []
        localStorage.setItem('cart', JSON.stringify(cart))
        localStorage.removeItem('items')
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function (route) {
                console.log(route);
                window.location.href = route;
            }
        });

    })
    if (localStorage.getItem('punchout') == 'False' && localStorage.getItem('is_authenticated') == 'False') {
        $('#loginTab').show()
    }

</script>
{% endblock %}

{% block title %}
{% if title %}{{ title }} - Molecule Shopping Cart
{% else %}Welcome to Molecule Shopping Cart
{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.cartblanche') }}">Cartblanche</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               <li><a href="{{ url_for('main.sw') }}" class="test"
                           data-toggle="tooltip" data-placement="bottom"
                                title="Smallworld : Search by whole molecule similarity based on graph-edit-distance with calculated Tanimoto coefficient">
                            Similarity

                    </a>

                    </li>

                    <li><a href="{{ url_for('main.arthor') }}" data-toggle="tooltip" data-placement="bottom"
                           title="Arthor : Search by substructure or pattern (SMARTS)">Substructure</a></li>
{#                            {% if current_user.has_roles('private') %}#}

{#                {% endif %}#}
                <!-- <li><input type="text" id="search" placeholder="Search..."></li> -->
                <!-- <li><a href="{{ url_for('main.cart') }}"><span class="badge"></span></a></li> -->
                {% if not current_user.is_anonymous %}
<li><a href="{{url_for('main.swp')}}">SWP</a></li>
{#                    <li><a href="{{url_for('main.importData')}}">Import</a></li>#}

                <li><a href="{{ url_for('main.carts') }}">My Carts</a></li>
{#                <li><a href="{{ url_for('main.cart') }}">Old Cart</a></li>#}
                {% endif %}
{#                            <li><a href="{{ url_for('main.tranches') }}">Tranches</a></li>#}

             <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Lookup <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.search_zincid') }}">By ZincID</a></li>
                            <li><a href="{{ url_for('main.search_suppliercode') }}">By Supplier Code</a></li>
                            <li><a href="{{ url_for('main.search_smiles') }}">By Smiles</a></li>
                        </ul>
                    </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_anonymous %}
                <!-- <li><a href="{{ url_for('main.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li> -->
                <li id="loginTab" style="display:none"><a href="{{ url_for('main.login') }}" id="username">
                        <span class="glyphicon glyphicon-user"></span>
                        Hello, Sign in!
                    </a>
                </li>
                {% else %}
                <li><a href="{{ url_for('main.profile') }}" id="username">
                        <span class="glyphicon glyphicon-user"></span>
                        Hello, {{current_user.username}}
                    </a>
                </li>
                <li><a id="logoutTab"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('main.newcart') }}"><span class="glyphicon glyphicon-shopping-cart"
                            style="font-size:18px"></span><span class="badge" id="cartCount">{{cart_count}}</span> </a>
                </li>
             <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">About Us</li>
                            <li><a href="/about">Credits</a></li>
                            <li><a href="/usage/">Usage</a></li>
                            <li><a target=_blank href="http://docking.org/">Blog</a></li>
                            <li class="dropdown-header">Get Help</li>
                            <li><a target=_blank href="http://wiki.docking.org/index.php/Category:ZINC15">Help</a></li>
                            <li>
                                <a href="http://wiki.docking.org/index.php/ZINC15:Getting_started" target="_blank">
                                    Getting Started
                                </a>
                            </li>
                            <li>
                                <a href="http://wiki.docking.org/index.php/ZINC15:What%27s_New" target="_blank">
                                    What's New
                                </a>
                            </li>
                            <li>
                                <a href="http://wiki.docking.org/index.php/ZINC15:Resources" target="_blank">
                                    About ZINC 15 Resources
                                </a>
                            </li>
                            <li>
                                <a href="http://wiki.docking.org/index.php/ZINC15:Pipeline" target="_blank">
                                    Current Status / In Progress
                                </a>
                            </li>
                            <li class="dropdown-header">Socialize</li>
                            <li>
                                <a target=_blank href="https://www.surveymonkey.com/s/8NDGM6G"
                                   title="Tell us what you think">
                                    Feedback
                                </a>
                            </li>
                            <li>
                                <a target=_blank href="http://facebook.com/zincdb" title="Like us on Facebook">
                                    Like us on Facebook
                                </a>
                            </li>
                            <li>
                                <a target=_blank href="https://www.linkedin.com/grp/home?gid=706977" title="LinkedIn">
                                    LinkedIn
                                </a>
                            </li>
                            <li>
                                <a target=_blank href="https://twitter.com/#!/chem4biology"
                                   title="Follow us on Twitter">
                                    Tweet at us
                                </a>
                            </li>
                            <li>
                                <a target=_blank href="http://www.youtube.com/user/chemistry4biology"
                                   title="chemistry4biology on YouTube">
                                    Videos
                                </a>
                            </li>

                        </ul>
                    </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>

<footer>
    <p><a href="{{ url_for("main.about") }}">Acknowledgements</a> Roger Sayle. Nextmovesoftware.com Arthor. Smallworld.<a
            href="https://www.nigms.nih.gov/">Supported by NIGMS via GM71896</a> Questions, Discussion, Bug reports,
        Feature requests <a href="http://irwinlab.compbio.ucsf.edu/">Irwin</a> and Shoichet Labs and UC Regents.</p>

</footer>
{% endblock %}
